# Analyzing Correlation between Chemical Dumpings and Red Tide Blooms

In [1]:
#imports
import pandas as pd
import matplotlib.pyplot as plt

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

/Users/krithikanatarajan/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [4]:
algae_bloom = pd.read_csv("algae bloom.csv")

This dataset contains latitude and longitude of the sample measurement, the date and time the sample was collected, the depth at which the sample was taken at in the water and the counts of the red tide in that sample area.

In [5]:
algae_bloom.head()

,X,Y,OBJECTID,SAMPLE_DATE,TIME,TIMEZONE,DEPTH,LOCATION,LATITUDE,LONGITUDE,NAME,COUNT_,HAB_ID
0,-81.42690,30.70120,11318691,2015/02/04 00:00:00+00,14:51:00,GMT,0.3,St. Marys Inlet,30.70120,-81.42690,Karenia brevis,0,HABW150205-015
1,-82.57790,27.33160,11318692,2015/02/05 00:00:00+00,21:00:00,GMT,0.5,Bay Dock (Sarasota Bay),27.33160,-82.57790,Karenia brevis,0,HABW150205-016
2,-82.57938,27.33375,11318693,2015/02/05 00:00:00+00,21:05:00,GMT,0.5,New Pass Dock (Sarasota Bay),27.33375,-82.57938,Karenia brevis,0,HABW150205-017
3,-81.34444,30.11688,11318694,2015/02/04 00:00:00+00,14:18:00,GMT,0.5,North Ponte Vedra,30.11688,-81.34444,Karenia brevis,0,HABW150206-001
4,-81.32263,30.02262,11318695,2015/02/04 00:00:00+00,14:32:00,GMT,0.5,South Ponte Vedra,30.02262,-81.32263,Karenia brevis,0,HABW150206-002

In [6]:
print("Dimensions:", algae_bloom.shape)

Dimensions: (87711, 13)

In [7]:
print(algae_bloom.dtypes)

X              float64
Y              float64
OBJECTID         int64
SAMPLE_DATE     object
TIME            object
TIMEZONE        object
DEPTH          float64
LOCATION        object
LATITUDE       float64
LONGITUDE      float64
NAME            object
COUNT_           int64
HAB_ID          object
dtype: object

In [8]:
missing_values_count = algae_bloom.isnull().sum()

# Display the count of missing values
print(missing_values_count)

X                 0
Y                 0
OBJECTID          0
SAMPLE_DATE       0
TIME           8868
TIMEZONE       3845
DEPTH           209
LOCATION         19
LATITUDE          0
LONGITUDE         0
NAME              0
COUNT_            0
HAB_ID            0
dtype: int64

In [9]:
#check for wrong negative values
for column in algae_bloom.select_dtypes(include=['float64', 'int64']).columns:
    negative_count = (algae_bloom[column] < 0).sum()
    if negative_count > 0:
        print(f"{column}: {negative_count}")

X: 87711
LONGITUDE: 87711